{% extends "base/base.html" %} {% block content %}
<section class="section-p0">
  <button class="back_btn" onclick="history.back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <div class="section_container">
    <h2>About Hafiza’s Art & Decor</h2>

    <p>
      Hafiza’s Art & Decor is a handcrafted e-commerce platform specializing in
      unique home décor items including gypsum art, candles, and bangles. Each
      product is carefully designed and crafted with attention to detail, making
      every piece special and meaningful.
    </p>

    <p>
      Our mission is to bring creativity and elegance into everyday living
      spaces while maintaining quality, affordability, and customer
      satisfaction. Unlike mass-produced items, our products are handmade on
      demand, ensuring uniqueness in every order.
    </p>
  </div>
</section>
{% endblock content %}
