{% extends "base/base.html" %} {% block content %}
<section class="section-p0">
  <button class="back_btn" onclick="history.back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <div class="section_container">
    <h2>Contact Us</h2>

    <p>Email: hafizaartdecor@gmail.com</p>
    <p>Phone: 01607311921</p>
    <p>Location: Dhaka, Bangladesh</p>

    <form
      class="contact_form"
      method="post"
      action="{% url 'customer_contact' %}"
    >
      {% csrf_token %}
      <input type="text" placeholder="Your Name" name="name" required />
      <input type="email" placeholder="Your Email" name="email" required />
      <textarea placeholder="Your Message" name="message" required></textarea>
      <button type="submit">Send Message</button>
      {% include "base/alert.html" %}
    </form>
  </div>
</section>
{% endblock content %}
