{% extends "base/base.html" %} {% block content %}
<section class="section-p0">
  <button class="back_btn" onclick="history.back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <div class="section_container">
    <h2>Privacy Policy</h2>

    <p>
      At Hafiza’s Art & Decor, we value your privacy and are committed to
      protecting your personal information
    </p>

    <ul>
      <li>
        You can browse our website and place orders without creating an account. When you place an order, we may collect basic information such as your name, phone number, email address, and delivery address. This information is used solely for order processing, delivery, and customer communication.
      </li>
      <li>
        We do not sell, rent, or share your personal information with third parties, except when necessary to complete your order (such as delivery services).
      </li>
      <li>
        We take appropriate security measures to protect your data. Any sensitive information is handled securely.
      </li>
    </ul>

    <p>By using our platform, you agree to our privacy practices</p>
  </div>
</section>
{% endblock content %}
