{% extends "base/base.html" %} {% block content %}
<section class="section-p0">
  <button class="back_btn" onclick="history.back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <div class="section_container">
    <h2>Return Policy</h2>

    <p>
      Due to the delicate nature of our handcrafted products, especially gypsum
      items, we follow a strict return policy.
    </p>

    <ul>
      <li>
        Products can only be returned if they arrive damaged or defective.
      </li>
      <li>Customers must provide unboxing video proof to claim damage.</li>
      <li>Claims must be made within 24 hours of delivery.</li>
      <li>
        We are not responsible for damages caused by poor handling by
        third-party delivery services.
      </li>
      <li>No return or exchange is applicable for change of mind.</li>
      <li>
        We strongly recommend checking the package carefully upon delivery.
      </li>
    </ul>
  </div>
</section>
{% endblock content %}
